<main class="flex flex-col justify-center items-center">
  <!-- text search -->
  <div class="input-group justify-center items-center my-6">
    <input
      type="text"
      [(ngModel)]="textSearch"
      placeholder="Search icon"
      class="input input-bordered w-60 hover-color"
    />
    <button id="search-icon" class="material-symbols-outlined btn btn-square text-2xl">search</button>
  </div>
  <!-- tag search -->
  <select
    [(ngModel)]="tagSearch"
    (ngModelChange)="handleDropdownDisplay()"
    class="select select-sm select-bordered w-36 hover-color"
  >
    <option hidden>Filter by tag</option>
    <option>None</option>
    <option *ngFor="let tag of tagChoices">{{ tag }}</option>
  </select>
  <!-- icons -->
  <div class="flex flex-wrap justify-center mt-4 sm:mt-0">
    <div
      *ngFor="let icon of icons | textFilter : textSearch | tagFilter : tagSearch"
      (click)="showDetails(icon)"
      id="grid-box"
      class="flex flex-col items-center relative rounded-xl p-2 pb-4 m-2 w-44 h-44 transition-all duration-200 hover:cursor-pointer hover:hover-color sm:p-6 sm:pb-12 sm:m-6 sm:w-auto sm:h-auto"
    >
      <i
        class="text-9xl transition-all duration-200 sm:w-32 sm:h-32 devicon-{{ icon.name }}-{{ icon.css[0] }}"
      ></i>
      <p class="absolute bottom-3 w-max font-semibold text-base sm:mt-4">
        {{ icon.title }}
      </p>
    </div>
  </div>
</main>
