@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.pos-inherit {
  position: inherit;
}

.display-initial {
  display: initial;
}

.copy:active {
  background-color: rgba(255, 255, 255, 0.5);
  transition: '0.2s';
}

div[data-theme='dark'] {
  .tooltip:before {
    border: 1px solid #53565d;
  }
}

div[data-theme='light'] {
  .tooltip:before {
    border: 1px solid #8f949b;
    color: #1f2937;
  }
}

#selected-icon {
  i {
    @apply text-[192px] sm:text-[144px];

    &.devicon-opensuse-plain {
      @apply text-[142px] sm:text-[116px];
    }

    &.devicon-twitter-original {
      @apply text-[164px] sm:text-[124px];
    }
  }

  img {
    @apply w-48 h-48 sm:h-36 sm:w-36;
  }
}
